{% extends 'base.html.twig' %}

{% block title %}{{ 'app.login.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
			{#% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.name }}, <a href="{{ path('logout') }}">Logout</a>
				</div>
			{% endif %#}

			<form method="post" class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 p-3 mt-5 mx-auto text-center bg-light rounded-3 shadow-sm">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<div class="mb-3 form-floating">
					<input type="text" name="_username" id="username" class="form-control" placeholder="{{ 'app.fields.user.name.label'|trans }}" value="{{ lastUsername }}" />
					<label for="username">{{ 'app.fields.user.name.label'|trans }}</label>
				</div>

				<div class="mb-3 form-floating">
					<input type="password" name="_password" id="password" class="form-control" placeholder="{{ 'app.fields.user.password.label'|trans }}" />
					<label for="password">{{ 'app.fields.user.password.label'|trans }}</label>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

				<div class="d-grid"><button type="submit" class="btn btn-primary btn-lg">🔓</button></div>
				<p class="mt-3 mb-0">{{ 'app.login.register'|trans({'url': path('register')})|raw }}</p>
			</form>
{% endblock %}