{% extends 'base.html.twig' %}

{% block title %}{{ 'app.reset_password.title'|trans }} | {{ parent() }}{% endblock %}

{% block menu %}
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
				<div class="navbar-brand">{{ 'global.site_name'|trans }}</div>
			</div>
		</nav>
{% endblock %}

{% block flash -%}
			<div class="alert alert-warning mt-3">
				{{ 'app.flash.warning.reset_password.valid_once_until_changed'|trans }}
			</div>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} mt-1">
						{{ message|raw }}
					</div>
				{% endfor %}
			{% endfor %}
{% endblock %}

{% block body -%}
			{{ form_start(form, {'attr': {'class': 'col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 p-3 mt-5 mx-auto text-center bg-light rounded-3 shadow-sm'}}) }}
				<div class="mb-3 form-floating">
					<input type="password" name="{{ form.password.first.vars.full_name }}" id="{{ form.password.first.vars.id }}" class="form-control{% if not form.password.first.vars.valid %} is-invalid{% endif %}" placeholder="{{ form.password.first.vars.label }}" />
					<label for="{{ form.password.first.vars.id }}">{{ form.password.first.vars.label|trans }}</label>
					{{ form_help(form.password.first) }}
					{{ form_errors(form.password.first) }}
				</div>
				{% do form.password.first.setRendered(true) %}

				<div class="mb-3 form-floating">
					{# Manual translation, because for some value it isn't translated for the second field -#}
					<input type="password" name="{{ form.password.second.vars.full_name }}" id="{{ form.password.second.vars.id }}" class="form-control{% if not form.password.second.vars.valid %} is-invalid{% endif %}" placeholder="{{ form.password.second.vars.label|trans }}" />
					<label for="{{ form.password.second.vars.id }}">{{ form.password.second.vars.label|trans }}</label>
					{{ form_help(form.password.second) }}
					{{ form_errors(form.password.second) }}
				</div>
				{% do form.password.second.setRendered(true) %}

				<div class="d-grid"><button type="submit" class="btn btn-primary float-start" title="{{ 'global.action.validate'|trans }}" aria-label="{{ 'global.action.validate'|trans }}">✔️</button></div>
			{{ form_end(form) }}
{% endblock %}