{% extends 'base.html.twig' %}

{% block title %}{{ 'app.register.heading'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm, {'attr': {'class': 'col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 p-3 mt-5 mx-auto text-center bg-light rounded-3 shadow-sm'}}) }}
		<h2>{{ 'app.register.title'|trans }}</h2>
		{{ form_row(registrationForm.name, {'attr': {'placeholder': registrationForm.name.vars.label|trans}, 'row_attr': {'class': 'mb-3 form-floating'}}) }}
		{{ form_row(registrationForm.plainPassword, {'attr': {'placeholder': registrationForm.plainPassword.vars.label|trans}, 'row_attr': {'class': 'mb-3 form-floating'}}) }}

		<div class="d-grid"><button type="submit" class="btn btn-primary btn-lg">{{ 'global.action.validate'|trans }}</button></div>
	{{ form_end(registrationForm) }}
{% endblock %}
