{{ form_start(form) }}
	<div class="row mb-3">
		{{ form_label(form.title) }}
		<div class="input-group">
			{{ form_widget(form.title, {'row_attr': {'class': 'col-6 col-md-7 col-lg-9'}}) }}
			{{ form_row(form.public, {'row_attr': {'class' : 'input-group-text'}}) }}
		</div>
	<div>
	<div class="row mb-3">
		{{ form_row(form.label, {'row_attr': {'class': 'col-4 col-md-3 col-lg-2'}}) }}
		{{ form_row(form.colour, {'row_attr': {'class': 'col-8 col-md-9 col-lg-10'}}) }}
	</div>
	<button class="btn btn-primary float-start" title="{{ 'global.action.validate'|trans }}" aria-label="{{ 'global.action.validate'|trans }}">✔️</button>
{{ form_end(form) }}
