{{ form_start(form) }}
	<div class="row mb-3">
		{{ form_label(form.title) }}
		<div class="input-group">
			{{ form_widget(form.title, {'row_attr': {'class': 'col-6 col-md-7 col-lg-9'}}) }}
			{{ form_row(form.public, {'label': 'app.fields.category.public.label.short', 'label_attr': {'title': 'app.fields.category.public.label.long'}, 'row_attr': {'class' : 'input-group-text'}}) }}
		</div>
		{{ form_help(form.title) }}
		{{ form_errors(form.title) }}
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			{{ form_label(form.label) }}
			<div class="input-group input-group-lg">
				{{ form_widget(form.label) }}
				{{ form_widget(form.colour, {'attr': {'class': 'form-control-lg'}}) }}
			</div>
			{{ form_help(form.label) }}
			{{ form_help(form.colour) }}
			{{ form_errors(form.label) }}
			{{ form_errors(form.colour) }}
		</div>
	</div>
	<button class="btn btn-primary float-start" title="{{ 'global.action.validate'|trans }}" aria-label="{{ 'global.action.validate'|trans }}">✔️</button>
{{ form_end(form) }}
