{% extends 'base.html.twig' %}

{% block title %}{{ 'app.category.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'app.category.new.heading'|trans }}</h2>

	{{ include('category/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('category_index') }}" class="btn btn-secondary">{{ 'global.action.list'|trans }}</a>
		</li>
	</ul>
{% endblock %}