{% extends 'base.html.twig' %}

{% block title %}{{ category.title }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ category.label }}
		{{ category.title }}</h2>

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'app.fields.category.title.label'|trans }}</th>
				<td>{{ category.title }}</td>
			</tr>
			<tr>
				<th>{{ 'app.fields.category.label.label.long'|trans }}</th>
				<td>{{ category.label }}</td>
			</tr>
			<tr>
				<th>{{ 'app.fields.category.colour.label'|trans }}</th>
				<td style="background-color: {{ category.colour }}; color: var(--bs-{{ category.colour ? (is_dark(category.colour) ? 'light' : 'dark') : 'body-color' }});"><code style="color: inherit;">{{ category.colour }}</code></td>
			</tr>
			<tr>
				<th>{{ 'app.fields.category.public.label.long'|trans }} ({{ 'app.fields.category.public.label.short'|trans }})</th>
				<td>{{ ('global.' ~ (category.public ? 'on' : 'off'))|trans }}</td>
			</tr>
		</tbody>
	</table>
	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('category_index') }}" class="btn btn-secondary" title="{{ 'global.action.list'|trans }}" aria-label="{{ 'global.action.list'|trans }}">📃</a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning" title="{{ 'global.action.edit'|trans }}" aria-label="{{ 'global.action.edit'|trans }}">✏️</a>
		</li>
		<li class="list-inline-item">
			{{ include('category/_delete_form.html.twig') }}
		</li>
	</ul>
{% endblock %}
