{{ form_start(form) }}
	<div class="row mb-3">
		{{ form_label(form.title) }}
		<div class="input-group">
			{{ form_widget(form.title) }}
			{{ form_row(form.available, {'label': 'app.fields.payment_method.available.label.short', 'label_attr': {'title': 'app.fields.payment_method.available.label.long'}, 'row_attr': {'class': 'input-group-text'}}) }}
			{{ form_row(form.public, {'label': 'app.fields.payment_method.public.label.short', 'label_attr': {'title': 'app.fields.payment_method.public.label.long'}, 'row_attr': {'class': 'input-group-text'}}) }}
		</div>
		{{ form_help(form.title) }}
		{{ form_errors(form.title) }}
	</div>
	<div class="row mb-3">
		<div class="col-md-7 col-lg-9">
			{{ form_label(form.id) }}
			<div class="input-group">
				<button type="button" class="btn btn-outline-success slugger" title="{{ 'app.payment_method._form.slugger'|trans }}" aria-label="{{ 'app.payment_method._form.slugger'|trans }}" data-source="#{{ form.title.vars.id }}" data-target="{{ form.id.vars.id }}">🪄</button>
				{{ form_widget(form.id) }}
			</div>
			{{ form_help(form.id) }}
			{{ form_errors(form.id) }}
		</div>
		<div class="col-6 col-md-5 col-lg-3">
			{{ form_label(form.label) }}
			<div class="input-group input-group-lg">
				{{ form_widget(form.label) }}
				{{ form_widget(form.colour, {'attr': {'class': 'form-control-lg'}}) }}
			</div>
			{{ form_help(form.label) }}
			{{ form_help(form.colour) }}
			{{ form_errors(form.label) }}
			{{ form_errors(form.colour) }}
		</div>
	</div>
	<button class="btn btn-primary float-start" title="{{ 'global.action.validate'|trans }}" aria-label="{{ 'global.action.validate'|trans }}">✔️</button>
{{ form_end(form) }}
