<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('{{ 'global.action.confirm_delete'|trans }}');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
	<button class="btn btn-danger" title="{{ 'global.action.delete'|trans }}" aria-label="{{ 'global.action.delete'|trans }}">🗑️</button>
</form>
