{% extends 'base.html.twig' %}

{% block title %}{{ 'app.order.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ 'app.order.new.heading'|trans }}</h2>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('order_index') }}">{{ 'global.action.list'|trans }}</a>
{% endblock %}
