{% extends 'base.html.twig' %}

{% block title %}{{ 'app.order.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'app.order.new.heading'|trans }}</h2>

	{{ include('order/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('order_index') }}" class="btn btn-secondary">{{ 'global.action.list'|trans }}</a>
		</li>
	</ul>
{% endblock %}