{% extends 'base.html.twig' %}

{% block title %}{{ 'app.order.show.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ 'app.order.show.heading'|trans }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'app.fields.id'|trans }}</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>{{ 'app.fields.order.created_at.label'|trans }}</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}" class="btn btn-secondary">{{ 'global.action.list'|trans }}</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}" class="btn btn-warning">{{ 'global.action.edit'|trans }}</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
