{{ form_start(form) }}
	{{ form_row(form.title) }}
	<div class="row mb-3">
		<div class="col-md-5 col-lg-4 col-xxl-3">
			{{ form_label(form.label) }}
			<div class="input-group input-group-lg">
				<button type="button" class="btn btn-outline-success px-1 labeliser" title="{{ 'app.item._form.labeliser'|trans }}" aria-label="{{ 'app.item._form.labeliser'|trans }}" data-source="[name*=&quot;variantOf&quot;] :checked, [name*=&quot;composedOf&quot;] :checked" data-target="#{{ form.label.vars.id }}">🪄</button>
				{{ form_widget(form.label) }}
				<button type="button" class="btn btn-outline-success px-1 blender" title="{{ 'app.item._form.blender'|trans }}" aria-label="{{ 'app.item._form.blender'|trans }}" data-source="[name*=&quot;composedOf&quot;] :not([data-colour=&quot;&quot;]):checked" data-target="#{{ form.colour.vars.id }}">🪄</button>
				{{ form_widget(form.colour, {'attr': {'class': 'form-control-lg'}}) }}
			</div>
			{{ form_help(form.label) }}
			{{ form_help(form.colour) }}
			{{ form_errors(form.label) }}
			{{ form_errors(form.colour) }}
		</div>
		<div class="col-md-7 col-lg-8 col-xxl-9 pt-3 pt-md-0">
			{{ form_label(form.price) }}
			<div class="input-group">
				<button type="button" class="btn btn-outline-success computer" title="{{ 'app.item._form.computer'|trans }}" aria-label="{{ 'app.item._form.computer'|trans }}" data-source="[name*=&quot;composedOf&quot;] :checked" data-target="#{{ form.price.vars.id }}">🪄</button>
				{{ form_widget(form.price) }}
				{{ form_row(form.available, {'row_attr': {'class' : 'input-group-text'}}) }}
				{{ form_row(form.public, {'label': 'app.fields.item.public.label.short', 'label_attr': {'title': 'app.fields.item.public.label.long'}, 'row_attr': {'class' : 'input-group-text'}}) }}
				{{ form_row(form.separatelySellable, {'label': 'app.fields.item.separatelySellable.label.short', 'label_attr': {'title': 'app.fields.item.separatelySellable.label.long'}, 'row_attr': {'class' : 'input-group-text'}}) }}
				{{ form_row(form.ticket, {'label': 'app.fields.item.ticket.label.short', 'label_attr': {'title': 'app.fields.item.ticket.label.long'}, 'row_attr': {'class' : 'input-group-text'}}) }}
			</div>
			{{ form_help(form.price) }}
			{{ form_errors(form.price) }}
		</div>
	</div>
	<div class="row mb-3">
		{{ form_row(form.category, {'row_attr': {'class': 'col-sm-6'}}) }}
		{{ form_row(form.stock, {'row_attr': {'class': 'col-sm-6 pt-3 pt-sm-0'}}) }}
	</div>
	{{ form_row(form.variantOf) }}
	{{ form_row(form.attributes, {'label_attr': {'class': 'checkbox-inline'}}) }}
	{{ form_row(form.composedOf) }}
	<button type="submit" class="btn btn-primary float-start" title="{{ 'global.action.validate'|trans }}" aria-label="{{ 'global.action.validate'|trans }}">✔️</button>
{{ form_end(form) }}
