{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.label) }}
	{{ form_row(form.category, {'label_attr': {'class': 'radio-inline'}}) }}
	{{ form_row(form.stock) }}
	{{ form_row(form.variantOf) }}
	<div class="mb-3">
		{{ form_label(form.price) }}
		<div class="input-group">
			{{ form_widget(form.price) }}
			{{ form_row(form.available, {'row_attr': {'class' : 'input-group-text'}}) }}
			{{ form_row(form.public, {'row_attr': {'class' : 'input-group-text'}}) }}
			{{ form_row(form.separatelySellable, {'row_attr': {'class' : 'input-group-text'}}) }}
			{{ form_widget(form.colour) }}
			{{ form_row(form.ticket, {'row_attr': {'class' : 'input-group-text'}}) }}
		</div>
	</div>
	{{ form_row(form.attributes, {'label_attr': {'class': 'checkbox-inline'}}) }}
	{{ form_row(form.composedOf) }}
	<button class="btn btn-primary float-start">{{ 'global.action.validate'|trans }}</button>
{{ form_end(form) }}
