{% extends 'base.html.twig' %}

{% block title %}{{ item.title }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ item.title }}
		<span class="badge px-1" style="{% if item.isPack %}{{ pack_gradient(item.composedOf) }}{% elseif item.variants.count > 1 %}{{ variants_gradient(item.variants)}}{% elseif item.colour %}background-color: {{ item.colour }} !important{% endif %};">{{ item.label }}</span></h2>

	{{ include('item/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('item_index') }}" class="btn btn-secondary" title="{{ 'global.action.list'|trans }}" aria-label="{{ 'global.action.list'|trans }}">📃</a>
		</li>
		<li class="list-inline-item">
			{{ include('item/_delete_form.html.twig') }}
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/collection_handler.js') }}"></script>
		<script src="{{ asset('js/coloured_label.js') }}"></script>
		<script src="{{ asset('js/pack_variant_composer.js') }}"></script>
{% endblock %}
