{% extends 'base.html.twig' %}

{% block title %}{{ item.title }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ item.title }}</h2>

	{{ include('item/_form.html.twig') }}

	<a href="{{ path('item_index') }}">{{ 'global.action.list'|trans }}</a>

	{{ include('item/_delete_form.html.twig') }}
{% endblock %}
