{% extends 'base.html.twig' %}

{% block title %}{{ 'app.item.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'app.item.new.heading'|trans }}</h2>

	{{ include('item/_form.html.twig') }}

	<a href="{{ path('item_index') }}">{{ 'global.action.list'|trans }}</a>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/collection_handler.js')}}"></script>
{% endblock %}