{% extends 'base.html.twig' %}

{% block title %}{{ 'app.item.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'app.item.new.heading'|trans }}</h2>

	{{ include('item/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('item_index') }}" class="btn btn-secondary" title="{{ 'global.action.list'|trans }}" aria-label="{{ 'global.action.list'|trans }}">📃</a>
		</li>
	</ul>
{% endblock %}
{% block javascripts %}
		<script src="{{ asset('js/collection_handler.js')}}"></script>
{% endblock %}