{% extends 'base.html.twig' %}

{% block title %}{{ 'app.item.print.title'|trans }} | {{ parent() }}{% endblock %}
{% block stylesheets %}<style media="print">
        .container {
            padding: 3rem !important;
        }}</style>{% endblock %}

{% block body %}
	<h2 class="d-print-none">{{ 'app.item.print.heading'|trans }}</h2>

	<table class="table table-borderless">
		<colgroup>
			<col />
			<col class="col-1" />
		</colgroup>
		<tbody>
		{% for item in items %}
			<tr>
				<td>{{ item.title }}</td>
				<td class="text-end">{{ item.price|number_format(2, ',') }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">{{ 'app.item.print.none'|trans }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
