{% extends 'base.html.twig' %}

{% block title %}{{ item.title }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ item.title }}</h2>

	<table class="table">
		<tbody>
			<tr>
				<th>{{ 'app.fields.item.title.label'|trans }}</th>
				<td>{{ item.title }}</td>
			</tr>
			<tr>
				<th>{{ 'app.fields.item.label.label'|trans }}</th>
				<td>{{ item.label }}</td>
			</tr>
			<tr>
				<th>{{ 'app.fields.item.price.label'|trans }}</th>
				<td>{{ item.price }}</td>
			</tr>
			<tr>
				<th>{{ 'app.fields.item.colour.label'|trans }}</th>
				<td>{{ item.colour }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('item_index') }}" class="btn btn-secondary">{{ 'global.action.list'|trans }}</a>

	<a href="{{ path('item_edit', {'id': item.id}) }}" class="btn btn-warning">{{ 'global.action.edit'|trans }}</a>

	{{ include('item/_delete_form.html.twig') }}
{% endblock %}
