{% extends 'base.html.twig' %}

{% block title %}{{ user.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ user.name }}</h2>

	{{ include('user/_form.html.twig') }}

	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<a href="{{ path('user_index') }}" class="btn btn-secondary">{{ 'global.action.list'|trans }}</a>
		</li>
		<li class="list-inline-item">
			{{ include('user/_delete_form.html.twig') }}
		</li>
	</ul>
{% endblock %}
