{% extends 'base.html.twig' %}

{% block title %}{{ 'app.user.index.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ 'app.user.index.heading'|trans }}</h2>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>{{ 'app.fields.user.name.label'|trans }}</th>
					<th>{{ 'app.fields.user.enabled.label'|trans }}</th>
					<th>{{ 'app.fields.user.roles.label'|trans }}</th>
					<th>{{ 'app.fields.user.printer.label.long'|trans }}</th>
					<th>{{ 'app.fields.user.createdAt.label'|trans }}</th>
					<th><a href="{{ path('user_new') }}" class="btn btn-success" class="btn btn-success" title="{{ 'global.action.new'|trans }}" aria-label="{{ 'global.action.new'|trans }}">➕</a></th>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ (user.enabled ? 'global.on' : 'global.off')|trans }}</td>
					<td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
					<td>
						{%- if user.printer -%}
							<button class="btn btn-sm btn-outline-secondary" title="{{ 'app.printer.show.connect'|trans }}" aria-label="{{ 'app.printer.show.connect'|trans }}" data-bs-toggle="modal" data-bs-target="#Modal" data-qrcode-data="http://{{ user.printer.ip }}/">🔗</button>
							<a href="{{ path('printer_show', {'id': user.printer.id}) }}" title="
									{{- user.printer.location ? (user.printer.location.name ~ ', ') -}}
									{{- user.printer.ip }} | {{ user.printer.port -}}
								">
								{{- user.printer.model -}}
							</a>
						{%- endif -%}
					</td>
					<td>{{ user.createdAt|date('Y-m-d') }}</td>
					<td>
						<a href="{{ path('user_show', {'name': user.name}) }}" class="btn btn-sm btn-outline-info" title="{{ 'global.action.show'|trans }}" aria-label="{{ 'global.action.show'|trans }}">👁️</a>
						<a href="{{ path('user_edit', {'name': user.name}) }}" class="btn btn-sm btn-outline-warning" title="{{ 'global.action.edit'|trans }}" aria-label="{{ 'global.action.edit'|trans }}">✏️</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">{{ 'app.user.index.none'|trans }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
		<script src="{{ assets_host }}/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>/*<![CDATA[*/
		document.addEventListener('DOMContentLoaded', () => {
			document.addEventListener('show.bs.modal', async function(e) {
				if (e.relatedTarget.localName == 'button' && e.relatedTarget.dataset.qrcodeData) {
					e.target.querySelector('.modal-dialog.modal-xl').classList.remove('modal-xl');
					const modalContent = document.querySelector('.modal-content');
					while(modalContent.firstChild) modalContent.removeChild(modalContent.firstChild);
					const codeContainer = document.createElement('div');
					codeContainer.classList.add('modal-body', 'text-center');
					modalContent.append(codeContainer);
					const qrcode = new QRCode(codeContainer, {
						useSVG: true
					});
					qrcode.makeCode(e.relatedTarget.dataset.qrcodeData);
					codeContainer.querySelector('img').classList.add('mx-auto');
				}
			});

			document.addEventListener('hidden.bs.modal', function(e) {
				const target = e.target.querySelector('.modal-content');
				target.innerHTML = target.dataset.emptyContent;
				if (!e.target.querySelector('.modal-xl')) {
					e.target.querySelector('.modal-dialog').classList.add('modal-xl');
				}
			});
		});
		/*]]*/</script>
{% endblock %}
