{% extends 'base.html.twig' %}

{% block title %}{{ 'app.user.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <h2>{{ 'app.user.new.heading'|trans }}</h2>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{ 'global.action.list'|trans }}</a>
{% endblock %}
