{% extends 'base.html.twig' %}

{% block title %}{{ user.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ (user.enabled ? 'global.on' : 'global.off')|trans }}
		{{ user.name }}</h2>

	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<th>{{ 'app.fields.user.roles.label'|trans }}</th>
					<td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.user.token.label'|trans }}</th>
					<td>{{ user.token }}</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.user.printer.label.long'|trans }}</th>
					<td>
						{%- if user.printer -%}
							<button class="btn btn-sm btn-outline-secondary" title="{{ 'app.printer.show.connect'|trans }}" aria-label="{{ 'app.printer.show.connect'|trans }}" data-bs-toggle="modal" data-bs-target="#Modal" data-qrcode-data="http://{{ printer.ip }}/">🔗</button>
							<a href="{{ path('printer_show', {'id': user.printer.id}) }}" title="
									{{- user.printer.location ? (user.printer.location.name ~ ', ') -}}
									{{- user.printer.ip }} | {{ user.printer.port -}}
								">
								{{- user.printer.model -}}
							</a>
						{%- endif -%}
					</td>
				</tr>
				<tr>
					<th>{{ 'app.fields.user.createdAt.label'|trans }}</th>
					<td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<ul class="list-inline float-end">
		<li class="list-inline-item">
			<button class="btn btn-outline-secondary" title="{{ 'app.user.show.reset_password_link'|trans }}" aria-label="{{ 'app.user.show.reset_password_link'|trans }}" data-bs-toggle="modal" data-bs-target="#Modal" data-qrcode-data="{{ url('reset_password', {'token': user.token}) }}">🔑</button>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('user_index') }}" class="btn btn-secondary" title="{{ 'global.action.list'|trans }}" aria-label="{{ 'global.action.list'|trans }}">📃</a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('user_edit', {'name': user.name}) }}" class="btn btn-warning" title="{{ 'global.action.edit'|trans }}" aria-label="{{ 'global.action.edit'|trans }}">✏️</a>
		</li>
		<li class="list-inline-item">
			{{ include('user/_delete_form.html.twig') }}
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="{{ assets_host }}/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>/*<![CDATA[*/
		document.addEventListener('DOMContentLoaded', () => {
			document.addEventListener('show.bs.modal', async function(e) {
				if (e.relatedTarget.localName == 'button' && e.relatedTarget.dataset.qrcodeData) {
					e.target.querySelector('.modal-dialog.modal-xl').classList.remove('modal-xl');
					const modalContent = document.querySelector('.modal-content');
					while(modalContent.firstChild) modalContent.removeChild(modalContent.firstChild);
					const codeContainer = document.createElement('div');
					codeContainer.classList.add('modal-body', 'text-center');
					modalContent.append(codeContainer);
					const qrcode = new QRCode(codeContainer, {
						useSVG: true
					});
					qrcode.makeCode(e.relatedTarget.dataset.qrcodeData);
					codeContainer.querySelector('img').classList.add('mx-auto');
				}
			});

			document.addEventListener('hidden.bs.modal', function(e) {
				const target = e.target.querySelector('.modal-content');
				target.innerHTML = target.dataset.emptyContent;
				if (!e.target.querySelector('.modal-xl')) {
					e.target.querySelector('.modal-dialog').classList.add('modal-xl');
				}
			});
		});
		/*]]*/</script>
{% endblock %}